<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <!-- include header -->
    <%- include("./partials/header.ejs") %>

    <h1>Dashboard</h1>

    <% if (locals.flash) { %>
    <% Object.keys(flash).forEach((key) => { %> <%
            flash[key].forEach((message) => { %>
    <p class="<%= key %>"><%= message %></p>
    <% }) %> <% }) %>
    <% } %>

    <a href="/profile">Profile</a>



    <ul>
        <% for(let i = 0; i < publicPosts.length; i++) { %>
        <li>
            <b><%= publicPosts[i].post %></b>
            <small>, posted by <%= publicPosts[i].name || "Unknown" %></small>
            <small>@<%= publicPosts[i]?.postedBy?.username || "Unknown" %></small>
            <div>
                <%  publicPosts[i].comments.forEach(comment => { %>
                <div>
                    <p> <%= comment.comment || "Failed to display comment" %> </p>
                    <p> <%= comment.postedBy.username || "Unknown" %> </p>
                    <p> <%= comment.createdAt || "00:00" %> </p>
                </div>
                <%  }); %>

            </div>
            <div><%- include("./partials/comment.ejs") %></div>
            <button onclick="handleLike('<%= publicPosts[i]._id %>')">like</button>
            <button onclick="handleComment('<%= publicPosts[i]._id %>')">comment</button>
        </li>
        <% } %>
    </ul>




    <script>
        function handleComment(id) {

            const commentForm = document.getElementById("comment-form");
            commentForm.hidden = false;

            console.log("handleComment", id)

            // commentForm.elements.comment.value = comment;

            commentForm.onsubmit = (e) => {
                e.preventDefault();

                const comment = commentForm.elements.comment.value;
                //console.log(comment)

                fetch(`/dashboard/comment/${id}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            comment: comment
                        }),
                    })
                    .then((res) => {
                        if (res.redirected) {

                            window.location.href = res.url;
                        }
                    })
                    .catch((err) => console.log(err));
            }
        }

        function handleLike(id) {
            console.log("handleLike", id)

            fetch(`/dashboard/like/${id}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                    })
                    .then((res) => {
                        if (res.redirected) {
                            window.location.href = res.url;
                        }
                    })
                    .catch((err) => console.log(err));
        }
    </script>


</body>

</html>