<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
     <!-- include header -->
     <%- include("./partials/header.ejs") %>

     <h1>Dashboard</h1>

     <% if (locals.flash) { %>
        <% Object.keys(flash).forEach((key) => { %> <%
            flash[key].forEach((message) => { %>
            <p class="<%= key %>"><%= message %></p>
            <% }) %> <% }) %>
    <% } %>

     <a href="/profile">Profile</a>
    
     
     <ul>
       <% for(let i = 0; i < publicPosts.length; i++) { %>
       <li>
         <b><%= publicPosts[i].post %></b>
         <small>, posted by <%= publicPosts[i].name || "Unknown" %></small>
         <small>@<%= publicPosts[i]?.postedBy?.username || "Unknown" %></small>
       </li>
       <% } %>
     </ul>
    
 

   


</body>
</html>