<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Dashboard</title>
</head>

<body>
    <!-- include header -->
    <%- include("./partials/header.ejs") %>

    <h1>Dashboard</h1>

    <% if (locals.flash) { %>
    <% Object.keys(flash).forEach((key) => { %> <%
            flash[key].forEach((message) => { %>
    <p class="<%= key %>"><%= message %></p>
    <% }) %> <% }) %>
    <% } %>

    <a href="/profile">Profile</a>

    <ul>
        <% for(let i = 0; i < publicPosts.length; i++) { %>
        <li class="postContainer">
            <div class="postedByInfo">
                <div class="profilePic"></div>
                <div class="postedBy">
                    <p class="postedByName"> <%= publicPosts[i].name || "Unknown" %></p>
                    <p class="postedByUsername grey">@<%= publicPosts[i]?.postedBy?.username || "Unknown" %></p>
                </div>
            </div>
            <div>
                <p class="postContent"><%= publicPosts[i].post %></p>
            </div>

            <div class="likesAndComment displayFlex">

                <div class="postLikeIcon displayFlex">
                    <ion-icon name="heart-outline" onclick="handleLike('<%= publicPosts[i]._id %>')"></ion-icon>
                    <% if (publicPosts[i].likeCount >= 1) { %>
                    <p class="postLikeCount"><%= publicPosts[i].likeCount || "" %> </p>
                    <% } %>
                </div>
                <div class="postCommentIcon displayFlex">
                    <ion-icon name="chatbubble-outline"></ion-icon>
                </div>

            </div>
            <div class="postComments">

                <%  publicPosts[i].comments.forEach(comment => { %>
                <div class="comment">
                    <div class="commentPostedBy displayFlex">
                        <p class="postedByName"> <%= comment.postedBy.name || "Unknown" %> </p>
                        <p class="postedByUsername grey"> @<%= comment.postedBy.username || "Unknown" %> </p>
                    </div>
                    <div class="commentContent">
                        <p> <%= comment.comment || "Failed to display comment" %> </p>
                    </div>
                    <div class="commentCreatedAt grey">
                        <p> <%= comment.createdAt || "00:00" %> </p>
                    </div>


                </div>
                <%  }); %>
            </div>
            <div><%- include("./partials/comment.ejs") %></div>
           
            <button onclick="handleComment('<%= publicPosts[i]._id %>')">comment</button>
        </li>
        <% } %>
    </ul>

    <script src="/js/code.js"></script>

</body>

</html>