<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Dashboard</title>
</head>

<body>
    <!-- include header -->


    <h1>Profile</h1>

    <div>
        <% Object.keys(flash).forEach((key) => { %> <%
            flash[key].forEach((message) => { %>
        <p class="<%= key %>"><%= message %></p>
        <% }) %> 
        <% }) %>
    </div>
  
    <%- include("./partials/share-post.ejs") %>
    <%- include("./partials/update-post.ejs") %>

    <ul>
        <% if (userPosts) { %>
        <% for(let i = 0; i < userPosts.length; i++) { %>
        <li id="<%= userPosts[i]._id %>">
            <b id="post.<%= userPosts[i]._id %>"><%= userPosts[i].post %></b>
            <small>, posted by you</small>
            <i id="visibility.<%= userPosts[i].visibility %>"><%= userPosts[i].visibility %></i>
            <div>
                <h4>LIKES <%= userPosts[i].likeCount || "" %></h4>
            </div>
            <div>
                <%  userPosts[i].comments.forEach(comment => { %>
                <div>
                    <h4>COMMENTS</h4>
                    <p> <%= comment.comment || "Failed to display comment" %> </p>
                    <p> <%= comment.postedBy.username || "Unknown" %> </p>
                    <p> <%= comment.createdAt || "00:00" %> </p>
                </div>
                <%  }); %>

            </div>
            <button
                onclick="handleUpdate('<%= userPosts[i]._id %>', '<%= userPosts[i].post %>',  '<%= userPosts[i].visibility %>')">edit</button>
            <button onclick="handleDelete('<%=userPosts[i]._id%>')">delete</button>
        </li>
        <% } %>
        <% } %>
    </ul>

    <script src="/js/code.js"></script>

</body>

</html>